@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background: black;
    overflow: hidden;
}

.font-exo {
    font-family: 'Exo 2', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}
